<!-- views/layouts/main.hbs -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EventApp{{#if title includeZero=true}} - {{title}}{{/if}}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="/css/events.css">
</head>
<body>
    {{> navbar}}

    <div class="container">
        {{{body}}}
    </div>
    <div id="footer"></div>
    <!-- jQuery, Popper, & Bootstrap JS -->
    <script src="/js/jquery-3.4.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
