<!-- views/layouts/main.hbs -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EventApp{{#if title includeZero=true}} - {{title}}{{/if}}</title>
</head>
<body>

  {{{body}}}

</body>
</html>
