<!-- views/layouts/main.hbs -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EventApp{{#if title includeZero=true}} - {{title}}{{/if}}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- Bootswatch Mint Theme CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-mint.min.css">
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="/css/events.css">
</head>
<body>
    <div class="page-wrapper">
        {{> navbar}}

        <div class="container">
            {{{body}}}
        </div>
    </div>
    <footer id="footer" class="w-100 text-center bg-light">
        <div class="h-100 d-flex justify-content-center align-items-center text-muted">
            <a class="mx-2" href="https://www.linkedin.com/in/nicoleabadie/">
                <i class="fab fa-linkedin"></i> LinkedIn
            </a>
            <a class="mx-2" href="mailto: nic4096@gmail.com">
                <i class="fas fa-envelope"></i> Email
            </a>
            <a class="mx-2" href="https://github.com/AcidicNic">
                <i class="fab fa-github"></i> Github
            </a>
            <a class="mx-2" href="https://www.makeschool.com/portfolio/nicoleAbadie">
                <i class="fas fa-gem"></i> School Portfolio
            </a>
            <a class="mx-2" href="https://twitter.com/niccsuccs">
                <i class="fab fa-twitter"></i> Twitter
            </a>
        </div>
    </footer>

    <!-- jQuery, Popper, & Bootstrap JS -->
    <script src="/js/jquery-3.4.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
