html, body {
    min-height: 100vh;
}
.page-wrapper {
    min-height: 90vh;
    display: block;
}
#footer {
    /*margin-top: 5vh;*/
    height: 10vh;
}
#footer > div > a {
    text-decoration: none;
}
.no_ul:hover {
    text-decoration: none;
}

.small-img {
    object-fit: cover;
    height: 15vw;
}
.card-wrapper {
    width: 33%;
}